@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(255, 255, 255);
}

.dark-mode {
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
  }
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

}
.container{
    width: 1200px;
    margin: 0 auto;
}
.navbar{
    /* background-color: rgb(255, 250, 208); */
    box-shadow: 0 .2rem .5rem rgb(149, 145, 145);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding-top: 2rem 7%;
    /* background: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s;
    
}

.logo{
    width: 4rem;
    height: 4rem;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo-text{
   
    margin-left: -1.5rem;
    font-size: 28px;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-items  a{
    font-weight: 700;
    text-decoration: none ;
    color: rgb(0, 0, 0);
    position: relative;
}

.active, .nav-items a:hover {
    font-family: cursive ;
    color: rgb(2, 107, 30);
  }
#mode-btn{
    color: rgb(255, 0, 0);
    border: none;
    background: transparent;
    
}
.hero-section-left .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    text-decoration: none;
    border: .2rem solid blanchedalmond;
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem black;
    font-size: 2rem;
    color: rgb(7, 117, 13);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.hero-section-left .social-media a:hover {
    background: black;
    color: white;
}

.hero-section{
     /* box-shadow: 2px 2px 2px 2px black;  */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.hero-section-left{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    transform: translateX(-10%);
    gap: 2rem;
    padding: 10px;
}

.hero-section-heading{
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.hero-section-sub-heading span{
    color: rgb(255, 2, 2);
    transition: all 0.6s;
}
.hero-section-sub-heading span:hover{
    color: rgb(161, 255, 137);
    transition: all 0.6s;
}

.hero-section-description{
    margin: 10px;
    font-size: 20px;   
    font-weight: 800;
}

.fadded-text{
    position:absolute;
    user-select:none;
    font-size: 7em;
    color:rgb(184, 184, 184);
    bottom: -18%;
    left: 5%;
    font-weight: bold;
    transition: all 3s;
}
.fadded-text::before { 
    content: attr(data-text); 
    position: absolute; 
    color: rgb(0, 19, 93); 
    overflow: hidden;
    width: 0%; 
    transition: 1s;
}
.fadded-text:hover::before{
    width: 100%;
}

.hero-section-right{
    padding: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    /* box-shadow: 2px 2px 5px 0 black; */
    border-radius: 20px;
    /* background-color: rgb(255, 255, 255); */
}

#about{
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner{
    border-radius: 100% ;
    width: 600px;
    height: 700px;
    
}
.content-section{
    padding: 20px;
}
.section-title{
    text-align: center;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-text{
    padding: 20px;
    text-align: justify;
    font-size:25px ;
}
.btn-groups{
    padding: 10px;
}
.btn1{
    background-color: rgb(71, 204, 227);
    width: fit-content;
    padding: 0.8rem 2rem;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0 black;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn1:hover{
    background-color: rgb(229, 157, 62);
}
#skills{
    margin: 3rem;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills-content{
    /* border: 1px solid black; */
    margin-bottom: 50px;
    font-size: 20px;
    padding: 50px;
    width: 40%;
}
.skill-title{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.skills-text{
    text-align: center;
    font-weight: 500;
    padding: 50px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.skills-box{
    
    display: flex; 
    align-items: center;
    justify-content: right;
    padding: 30px;  
    
}
.skills-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    list-style: none;
    gap: 2rem;
    padding-top: 0 4rem;
}
.skill-logo {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    border-radius: 12px;
    box-shadow: 2px 2px 5px 0 black;
    cursor: help;
  }

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2 {
    margin-bottom: 3rem;
}
.contact-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.contact-heading span{
    color: rgb(0, 255, 26);
}

.contact form {
    max-width: 50rem;
    margin: 5rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: black;
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .2rem .5rem black;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    box-sizing: border-box;
    resize: none;
}

.contact form .btn2 {
    font-weight: 700;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0 black;
    background-color: rgb(187, 238, 173);
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .btn2:hover{
    transition: .5s;
    background-color: rgb(245, 187, 112);
    box-shadow: 0 .2rem .5rem black;
    
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 7%;
    background: black;
}

.footer-text p {
    font-size: 1.6rem;
    color: white;
}
